body{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.profile{
    background-color: black;
    height: 100%;
    width: 260px;
    padding: 5px;
    border-right: 2px dotted black;
    position: fixed;
    letter-spacing: 2px;
    color: whitesmoke;
}
.profile img{
    border-radius: 15px;
    margin: 5px;
}
.name {
    text-align: center;
    font-size: 22px;
}
.name span{
    font-size: small;
}
.details{
    padding: 20px;
}
.List{
    z-index: 1;
    margin-left:18%;
}
.ListHeader{
    display: flex;
    justify-content: space-around;
    position: sticky;
    top:0;
    padding: 20px;
    font-size: 15px;
    background-color: #480355;
    margin: 0;
    color:whitesmoke;
    border-radius: 5px;
}
.ListHeader span{
    font-size: 23px;
    font-weight: bold;
    color:tomato;
}

.Cont{
    margin:1%;
    text-align: center;
}

.Cont p{
    font-size: 24px;
    font-style: italic;
}
.Cont .Edit{
    display: none;
}
.Cont .Add ,.Cont .Edit {
    padding: 10px;
    min-width: 150px;
    color:white;
    border: none;
    background-color:#480355 ;
    cursor: pointer;
    letter-spacing: 2px;
    border-radius: 50px;
}
.Cont table{
    border-collapse: collapse;
    margin: 10px;
    background-Color:whitesmoke;
    width: 90%;
    margin: 2% auto;
}

.Cont tr th{
    padding: 10px;
    background-color: #82A6B1;
}
.Cont tr td{
    padding: 10px;
}
.Cont tr:hover{
    background-color: #3A3E3B;
    color:whitesmoke;
}
.Cont tr:hover button{
    color: red;
}
.Cont table button{
    background-color:transparent;
    color:#480355;
    font-weight: bold;
    font-style: oblique;
    text-decoration:underline;
    padding: 0px;
    margin: 0px;
    border:none;
    cursor: pointer;
}
.Cont table button:hover{
    scale:1.1;
}
.Cont input{
    padding: 10px;
    width: 250px;
    border: 2px solid black;
    border-radius: 50px;
}
.Search{
    margin: 10px;
}
