@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Corinthia:wght@400;700&family=Genos:wght@200&family=Jura:wght@700&family=Libre+Barcode+39&family=Nanum+Myeongjo:wght@700&family=Waterfall&display=swap');
body{
    background-color: black;}
.Ex1{
    margin: 10% auto;
    width: 50%;
    height: 500px;
    background-image:url("mailcover.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: 500px 500px;
    background-position:20%;
    rotate: 10deg;
}
.passportCover{
    background-image: linear-gradient(#faebe1,#fff8f1,#fbf0e6);
    margin:10% auto;
    width: 100%;
    height:290px;
    border-radius: 10px;
    position: relative;
    display: flex;
    rotate: -10deg;
    top:40%;
}
.passportCover_inner1{
    display: flex;
    flex-basis: 78%;
    flex-wrap: wrap;
}
.sideBar{
    background-color: #e1a587;
    writing-mode: vertical-rl;
    rotate: 180deg;
    padding: 10px;
    color: white;
    border-radius: 0px 10px 10px 0px;
    text-align: center;
    font-size: 20px;
}
.img1{
    top:0;
    left:4.5%;
}
.img2{
    position:absolute;
    top:55%;
    right:20%;
}
.heading1{
    position: absolute;
    color:#b58366;
    font-family: "Corinthia", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 150px;
    rotate: -20deg;
    top:0;
}
.Background{
    top:50%;
    position:absolute;
    border-radius: 50%;
}
.heading2{
    position: absolute;
    margin-left:100px;
    color:#b58366;
    font-family: "Corinthia", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 150px;
    rotate:-10deg;
    top:10%;
}
.heading2 span{
    font-size:60px ;
}
.passportCover_right{
    flex-grow: 1;
    margin-left: 50%;
}
.boarding{
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style:normal;
    font-size: larger;
}
.loveAirways{
    font-family: "Corinthia", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 30px; 
    color:#b58366;
    margin-left: 20%;
}
.firstClass{
    margin:40%;
    margin-left: 35%;
    rotate: 15deg;
    border: 0.5px solid black;
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size:larger;
    border-radius: 5px;
    width: 80px;
    text-align: center;
}

.weddingDetails{
    position: absolute;
    top:50%;
}
.det1{
    margin-top: 2%;
}
.weddingDetails_inner1{
    display: flex;
    gap:60px;
}
.detail_head{
    font-family: "Genos", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
.detail_inner{
    font-family: "Nanum Myeongjo", serif;
    font-weight: 600;
    font-style: normal;
    font-size: medium;
}
.passportCover_inner2{
    display: flex;
    flex-direction: column;
    border-left: 0.2rem dotted;
    flex-basis: 22%;
}
.passportCover_inner2 img{
    width:150px;
    margin-top: 5%;
}
.passportCover_inner2heading{
    position: absolute;
    font-family: "Corinthia", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 40px; 
    color:#b58366;
    top:15%;
}
.img4{
    border-radius: 50%;
}
.year{
    font-family: "Genos", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color:#b58366;
    text-align: center;
    font-size: 20px;
}
.barcode{
    font-family: "Libre Barcode 39", system-ui;
    font-weight: 400;
    font-style: normal;  
    font-size: 40px;
    text-align: center;
}