body{
    margin: 0;
    background-color: #F8F2DC;

}
.formContainer{
    background-color: white;
    margin: 5% auto;
    width:40%;
    height: max-content;
    /* border-radius: 50px; */
    font-size: 15px;
    font-style: italic;
    color:#5C5D8D;
    border:2px solid black;
}
form{
    margin: 5% auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    margin: 0;
    text-align: center;
    background-color: #5C5D8D;
    padding: 25px;
    color: white;
    font-size:20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#res{
    margin: 5% auto;
    flex-direction: column;
    display: none;
}
#dataEntries{
    width: 50%;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
    border:2px solid black;
    color:black;
    height: max-content;
    margin: 5% auto;
}
form :placeholder-shown{
    font-size: 10px;
    font-style: italic;
}
form div{
    display: flex;
    margin: 5%;
}
form input{
    caret-color: #5C5D8D;
    display: flex;
    margin-top: 3%;
    width:  40%;
    padding: 12px;
    border-radius: 10px;
    font-weight: bolder;
    font-size:12px;
}
form label{
    width: 40%;
    margin-top:3% ;
}
.gender,.department{
    display: flex;
    flex-direction: column;
    margin: 3% auto;
    width: 35%;
    border:1px solid black;
    align-items: center;
    border-radius: 20px;
    
}
.gender div,.department div{
    margin: 2%;
}
.gender input,.gender label,.department input,.department label{
    cursor: pointer;
}
form button{
    margin-left:40%;
    padding: 13px;
    border: 5px solid;
    border-radius: 10px;
    background-color: #5C5D8D;
    color:white;
    font-size:15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    cursor: pointer;
}